include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body

		.main
			include ../common/header
			include ../common/1home
		include ../common/2why
		//- include ../common/quiz
		include ../common/footer
		include ../common/modal
	// END body