.home {
    position: relative; 
    margin-top: auto;
    margin-bottom: auto;
    // padding-top: 17px;
    padding-top: 84px;
    color: #fff;
    @media screen and (max-width: 1919px) {

    }
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        padding-bottom: 27px;
        padding-top: 43px;
    }
    @media screen and (max-width: 749px){
        padding-top: 53px;
        padding-bottom: 48px;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            flex-wrap: wrap;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            // padding-right: 11%;
        }
    }
    &__body {
        position: relative;
        width: 50%;
        padding-bottom: 73px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            width: 100%;
            position: relative;
            padding-bottom: 55px;
        }
        @media screen and (max-width: 749px){
            padding-right: 0;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
        &:after {
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                content: "";
                position: absolute;
                bottom: 0;
                right: -15px;
                width: 422px;
                height: 549px;
                background: url('../img/man.png') no-repeat;
                background-size: 750px;
                background-position: left top;
                z-index: -1;
            }
            @media screen and (max-width: 749px){
                content: none;
            }
        }
    }
    &__title {
        font-size: 45px;
        line-height: 54px;
        letter-spacing: 2px;
        margin-bottom: 12px;
        color: $accent;
        text-transform: uppercase;
        // max-width: 600px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            font-size: 38px;
            line-height: 1.2;
        }
        @media screen and (max-width: 749px){
            font-size: 27px;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
    }
    &__subtitle {
        font-size: 45px;
        line-height: 57px;
        letter-spacing: 1px;
        text-transform: uppercase;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            font-size: 38px;
            line-height: 1.2;
        }
        @media screen and (max-width: 749px){
            font-size: 27px;
        }


        .icon {
            svg {
                width: 32px;
                height: 32px;
                fill: #fff;
                margin: 0 15px 0 10px;
            }
            &--accent svg {
                fill: $accent;
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin: -17px 0 -32px -43px;
    }
    &__pic {
        margin-right: -24px;
    }
    &__line {
        font-size: 24px;
        color: #000;
        span {
            display: inline-block;
            background: url('../img/line-bg.png') no-repeat;
            background-size: 100% 100%;
            padding: 7px 10px;
            letter-spacing: 0.5px;
        }
    }
    &__person {
        position: relative;
        text-align: right;
        @media screen and (max-width: 749px){
            display: none;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -50px;
            right: 0;
            width: 102px;
            height: 38px;
            background: url('../img/home-dash.png') no-repeat;
            background-size: 100% 100%;
        }
        &--mob {
            position: relative;
            display: none;
            @media screen and (max-width: 749px){
                display: block;
                padding-top: 30px;
            }
            .home__person {
                @media screen and (max-width: 749px){
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &-pic {
            img {
                max-width: 100%;
            }
        }
    }
    &__name span {
        display: inline-block;
        padding: 2px 10px;
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        background: #4a52ee;
    }
    &__position span {
        display: inline-block;
        padding: 2px 14px;
        font-size: 16px;
        background: #fff;
        color: #000;
        margin-right: 11px;
    }
    &__group {
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: flex;
        }
    }
    &__scroll {
        
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: none;
        }
    }
    &__btn {
        display: none;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: block;
        }
        @media screen and (max-width: 749px){
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
    }
}
.advantages {
    width: 50%;
    display: flex;
    position: relative;
    font-size: 17px;
    padding-top: 26px;
    padding-bottom: 7%;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        width: 100%;
        width: calc(100% + 30px);
        margin: 0 -15px ;
        background: #fff;
    }
    @media screen and (max-width: 749px){
        margin: 0;
        background: transparent;
    }
    @media screen and (max-height: 850px) and  (min-width: 1081px) {

    }
    &:before {
        content: "";
        position: absolute;
        top: -60px;
        right: 127px;
        width: 765px;
        height: 731px;
        background: url('../img/man.png') no-repeat;
        background-size: contain;
        z-index: -1;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            content: none;
        }
    }
    &__item {
        max-width: 258px;
        padding: 43px 27px 80px 40px;
        margin-left: auto;
        font-size: 18px;
        line-height: 26px;
        background: #000;
        background: url('../img/adv-bg.png') no-repeat;
        background-size: 100% 100%;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: flex;
            align-items: flex-start;
            margin-top: -50px;
            margin-right: auto;
            max-width: 625px;
        }
        @media screen and (max-width: 749px){
            display: block;
        }
        .text--m, 
        .text {
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                display: inline;
            }
        }
        img {
            display: block;
            margin: 0 auto 28px;
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                margin: 0 20px 0 0;
            }
            @media screen and (max-width: 749px){
                margin: 0 auto 28px;
            }
        }
    }
    .text-750 {
        font-size: 18px;
        position: relative;
        padding-left: 20px;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $accent;
        }
    }
}
