.home {
    position: relative; 
    margin-top: auto;
    margin-bottom: auto;
    // padding-top: 17px;
    padding-top: 84px;
    color: #fff;
    @media screen and (max-width: 1919px) {

    }
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        padding-bottom: 27px;
        padding-top: 60px;
    }
    @media screen and (max-width: 749px){
        padding-top: 30px;
        padding-bottom: 59px;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            flex-wrap: wrap;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {
            // padding-right: 11%;
        }
    }
    &__body {
        position: relative;
        width: 50%;
        padding-bottom: 73px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            width: 100%;
            position: relative;
            padding-bottom: 89px;
        }
        @media screen and (max-width: 749px){
            padding-right: 0;
            padding-bottom: 0;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
        &:after {
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                content: "";
                position: absolute;
                bottom: 0;
                right: -15px;
                width: 415px;
                height: 501px;
                background: url('../img/man.png') no-repeat;
                background-size: 560px;
                background-position: left top;
                z-index: -1;
            }
            @media screen and (max-width: 749px){
                content: none;
            }
        }
    }
    &__title {
        font-size: 45px;
        line-height: 54px;
        letter-spacing: 2px;
        margin-bottom: 9px;
        color: $accent;
        text-transform: uppercase;
        // max-width: 600px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin-bottom: 4px;
            font-size: 38px;
            line-height: 1.2;
        }
        @media screen and (max-width: 749px){
            margin-bottom: -3px;
            font-size: 27px;
            letter-spacing: 1.2px;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
    }
    &__subtitle {
        font-size: 45px;
        line-height: 60px;
        letter-spacing: 1px;
        text-transform: uppercase;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            font-size: 38px;
            line-height: 1.42;
        }
        @media screen and (max-width: 749px){
            font-size: 27px;
            margin-right: -8px;
        }


        .icon {
            svg {
                width: 32px;
                height: 32px;
                fill: #fff;
                margin: 0 13px 0 6px;
                @media screen and (max-width: 749px){
                    width: 19px;
                    height: 22px;
                    margin: 12px 5px 0 4px;
                }
            }
            &--accent svg {
                fill: $accent;
            }
        }
    }
    &__border {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: -5px;
            left: -15px;
            width: 105%;
            height: 100%;
            border: 1px solid #414149;
            z-index: -1;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin: -22px 0 -32px -43px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin: -17px 0 8px -15px;
        }
        @media screen and (max-width: 749px){
            margin: -19px 0 0 -31px;
        }
    }
    &__pic {
        margin-right: -24px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            max-width: 195px;
            margin-right: -37px;
        }
        @media screen and (max-width: 749px){
            width: 47%;
            margin-right: -15px;
        }
        img {
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                max-width: 100%;
            }
        }
    }
    &__line {
        font-size: 24px;
        color: #000;
        @media screen and (max-width: 749px){
            font-size: 16px;
        }
        span {
            display: inline-block;
            background: url('../img/line-bg.png') no-repeat;
            background-size: 100% 100%;
            padding: 7px 10px;
            letter-spacing: 0.35px;
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                padding: 7px;
            }
            @media screen and (max-width: 749px){
                letter-spacing: 0;
                line-height: 1;
                padding: 5px 7px;
            }
        }
    }
    &__text {
        @media screen and (max-width: 749px){
            margin-top: 0;
        }
        
    }
    &__person {
        position: relative;
        text-align: right;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            padding-top: 34px;
            padding-left: 41px;
        }
        @media screen and (max-width: 749px){
            display: none;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -60px;
            right: 40px;
            width: 102px;
            height: 38px;
            background: url('../img/home-dash.png') no-repeat;
            background-size: 100% 100%;
        }
        &--mob {
            position: relative;
            display: none;
            @media screen and (max-width: 749px){
                display: block;
                padding-top: 37px;
            }
            .home__person {
                padding-top: 0;
                padding-left: 38%;
           
                @media screen and (max-width: 749px){
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &-pic {
            @media screen and (max-width: 749px){
                text-align: center;
                // display: flex;
                // justify-content: center;
                overflow: hidden;
                max-width: 428px;
            }
            img {
                max-width: 100%;
                @media screen and (max-width: 749px){
                    width: 428px;
                    max-width: none;
                    transform: translateX(-100px);
                }
            }
        }
    }
    &__name span {
        display: inline-block;
        padding: 2px 10px;
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        background: #4a52ee;
        border-radius: 5px;
    }
    &__position span {
        display: inline-block;
        padding: 2px 14px;
        font-size: 16px;
        background: #fff;
        color: #000;
        margin-right: 11px;
        border-radius: 5px;
    }
    &__group {
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: flex;
        }
    }
    &__scroll {
        
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: none;
        }
    }
    &__btn {
        display: none;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: block;
        }
        @media screen and (max-width: 749px){
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        @media screen and (max-height: 850px) and  (min-width: 1081px) {

        }
        .btn {
            // display: flex;
            display: block;
            align-items: center;
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                padding: 18px 25px 23px 25px;
            }
            @media screen and (max-width: 749px){
                padding: 17px 14px 18px 16px;
            }
            
        }
        .si-button-puls {
            display: inline-block;
        }
    }
}
.advantages {
    width: 50%;
    display: flex;
    position: relative;
    font-size: 17px;
    padding-top: 26px;
    padding-bottom: 7%;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        width: 100%;
        width: calc(100% + 30px);
        margin: 0 -15px ;
        background: transparent;
    }
    @media screen and (max-width: 749px){
        margin: 0;
        background: transparent;
    }
    @media screen and (max-height: 850px) and  (min-width: 1081px) {

    }
    &:before {
        content: "";
        position: absolute;
        top: -60px;
        right: 127px;
        width: 765px;
        height: 731px;
        background: url('../img/man.png') no-repeat;
        background-size: contain;
        z-index: -1;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            content: none;
        }
    }
    &__item {
        max-width: 258px;
        padding: 43px 27px 80px 40px;
        margin-left: auto;
        font-size: 18px;
        line-height: 26px;
        background: #000;
        background: url('../img/adv-bg.png') no-repeat;
        background-size: 100% 100%;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: flex;
            align-items: flex-start;
            margin-top: -57px;
            margin-right: auto;
            max-width: 612px;
            padding: 44px 12% 42px 60px;
        }
        @media screen and (max-width: 749px){
            display: block;
            padding: 29px 12% 42px 51px;
        }
        .text--m, 
        .text {
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                display: inline;
            }
        }
        img {
            display: block;
            margin: 0 auto 28px;
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                display: none;
                margin: 5px 38px 0 0;
            }
            @media screen and (max-width: 749px){
                margin: 0 0 23px 0;
                display: block;
            }
            &.img-750 {
                display: none;
                @media only screen and (max-width: 1350px) and (orientation: portrait),
                screen and (max-width: 1080px) {
                    display: block;
                }
                @media screen and (max-width: 749px){
                    display: none;
                }
            }
        }
    }
    .text-750 {
        font-size: 18px;
        position: relative;
        padding-left: 16px;
        margin-top: 11px;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $accent;
        }
    }
}