.why {
    padding: 104px 0 57px;
    background: url('../img/why-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        margin-top: -400px;
        padding: 392px 0 75px;
    }
    @media screen and (max-width: 749px){
        background: none;
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .wrap {
        // padding-right: 67px;
    }
    &__title {
        max-width: 970px;
        margin: 0 auto 10px;
        text-align: center;
        font-size: 43px;
        line-height: 53px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            font-size: 38px;
            line-height: 45px;
            margin: 0 auto 15px;
        }
        @media screen and (max-width: 749px){
            font-size: 27px;
            line-height: 32px;
            margin: 0 auto 32px;
        }
    }
    &__title-pic {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -300px;
            width: 274px;
            height: 259px;
            background: url('../img/money2.png') no-repeat;
            background-size: contain;
            @media only screen and (max-width: 1350px) and (orientation: portrait),
            screen and (max-width: 1080px) {
                content: none;
            }
        }
    }
    &__pic-mob {
        display: none;
        @media screen and (max-width: 749px){
            display: block;
        }
        img {
            max-width: 100%;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        width: calc(100% + 50px);
        background: url('../img/why-pic.png') no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 -15px;
    	@media screen and (max-width: 1239px){
            width: calc(100% + 30px);
        }
        @media screen and (max-width: 749px){
            display: block;
            background: none;
            margin: -78px auto 0;
            width: 97%;
        }
    }
    &__item {
        width: 30%;
        width: calc(100%/3 - 30px);
        max-width: 357px;
        margin: 12px 15px;
        padding: 56px 34px 50px 54px;
        background: #fff;
        background: url('../img/why-item-bg.png') no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }
    &__item01 {
        order: 2;
    }
    &__item5 {
        order: 3;
    }
    &__item2 {
        order: 4;
    }
    &__item02 {
        order: 5;
    }
    &__item6 {
        order: 6;
    }
    &__item3 {
        order: 7;
    }
    &__item03 {
        order: 8;
    }
    &__item7 {
        order: 9;
    }
    &__item04 {
        order: 10;
    }
    &__item4 {
        order: 11;
        margin: -115px auto 15px;
    }
    &__item0 {
        background: none;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: none;
        }
        @media screen and (max-width: 749px){
            display: none!important;
        }
    }

    &__item {

        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            order: unset;
            width: calc(50% - 30px);
            margin: 12px 15px;
            padding: 58px 34px 37px 42px;
        }
        @media screen and (max-width: 749px){
            padding: 65px 34px 47px 30px;
            width: unset;
            margin: 0 auto;
            display: block!important;
            
        }
    }
    &__num {
        padding-left: 15px;
        font-size: 50px;
        color: rgba(0, 0, 0, 0.17);
        margin-bottom: 22px;
        position: relative;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            padding-left: 10px;
        }
        @media screen and (max-width: 749px){
            margin-bottom: 14px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 60%;
            transform: translate(0, -50%);
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #5259ef;
            @media screen and (max-width: 749px){
                top: 55%;
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: 60%;
            transform: translate(0, -50%) rotate(45deg);
            left: 9px;
            width: 4px;
            height: 8px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            @media screen and (max-width: 749px){
                top: 47%;
            }
        }
    }
    &__text {
        @media screen and (max-width: 749px){
            font-size: 16px;
        }
        span {
            color: #5259ef;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -16px;
        button {
            font-size: 0;
            border: 0;
            padding: 0;
            width: 6px;
            height: 6px;
            background: #e8e8e8;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }
        .slick-active button {
            background: #3f47ed;
            transform: scale(1.5);
        }
    }
}