.why {
    background: url('../img/why-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 749px){
        background: none;
        padding-bottom: 30px;
    }
    &__title {
        max-width: 970px;
        margin: 0 auto 20px;
        text-align: center;
        font-size: 43px;
        line-height: 53px;
    }
    &__title-pic {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -200px;
            width: 274px;
            height: 259px;
            background: url('../img/money2.png') no-repeat;
            background-size: contain;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background: url('../img/why-pic.png') no-repeat;
        background-position: center;
        background-size: contain;
        @media screen and (max-width: 749px){
            display: block;
            background: none;
        }
    }
    &__item01 {
        order: 2;
    }
    &__item5 {
        order: 3;
    }
    &__item2 {
        order: 4;
    }
    &__item02 {
        order: 5;
    }
    &__item6 {
        order: 6;
    }
    &__item3 {
        order: 7;
    }
    &__item03 {
        order: 8;
    }
    &__item7 {
        order: 9;
    }
    &__item04 {
        order: 10;
    }
    &__item4 {
        order: 11;
        margin-top: -80px;
    }
    &__item {
        width: 30%;
        width: calc(100%/3);
        margin: 0;
        padding: 45px;
        background: #fff;
        background: url('../img/why-item-bg.png') no-repeat;
        background-size: 100% 100%;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            order: unset;
            width: 50%;
        }
        @media screen and (max-width: 749px){
            width: unset;
            
        }
    }
    &__item0 {
        background: none;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: none;
        }
        @media screen and (max-width: 749px){
            display: none!important;
        }
    }
    &__num {
        font-size: 50px;
        color: rgba(0, 0, 0, 0.17);
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #5259ef;
        }
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(0, -50%) rotate(45deg);
            left: 0;
            width: 10px;
            height: 10px;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
        }
    }
    &__text {
        span {
            color: #5259ef;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        button {
            font-size: 0;
            border: 0;
            padding: 0;
            width: 6px;
            height: 6px;
            background: #e8e8e8;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }
        .slick-active button {
            background: #3f47ed;
        }
    }
}