.modal {
  max-height: 100vh;
  overflow: auto;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  // align-items: center;
  &__wrap {
    width: 100%;
    padding-top: 20px;
      max-width: 1170px;
      position: relative;
      margin: auto;
      @media only screen and (max-width: 749px) {
      //     max-width: 100%;
          // width: 95%;
          padding-right: 1%;
      }   
  }
  &__body {
    position: relative;
    background: #fff;
    padding: 5% 3% 5% 7%;
    border-radius: 7px;

    @media only screen and (max-width: 749px) {
      padding: 50px 39px 40px;
    }
  }
  .form-line {
    &+.form-line {
      margin-top: 17px;
      @media only screen and (max-width: 749px) {
        margin-top: 9px;
      }
    }
  }
  &-open {
      display: block;
  }
  .btn {
    @media only screen and (max-width: 749px) {
      font-size: 15px;
      
    }
    .quiz__btn {
      @media only screen and (max-width: 749px) {
        padding: 19px 19px;
      }
    }
  }
  .btn-next {
    @media screen and (max-width: 749px){
      font-size: 20px;
    }
  }
}
.close {
  position: absolute;
  right: -20px;
  top: 10px;
  width: 46px;
  height: 46px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #f0f0f0;
  border-radius: 50%;

  @media screen and (max-width: 1240px){
    top: 20px;
    right: 0;
    background: none;
  }
  @media only screen and (max-width: 749px) {

  }
  svg {
    fill: #121212;
    width: 15px;
    height: 15px;
    transition: 0.3s;
    @media only screen and (max-width: 749px) {
      width: 10px;
      height: 10px;
    }
  }
  &:hover {
      svg {
        fill: #000;
        transform: rotate(90deg);
      }
  }
}
  
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.disabled {
    display: none !important;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
  
.fadeOutUp {
  animation-name: fadeOutUp;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
#modalFinish {
  .modal{
    &__wrap {
      max-width: 420px;
      text-align: center;
      @media only screen and (max-width: 749px) {
        //     max-width: 100%;
          width: 95%;
          padding-right: 1%;
      }
    }
    &__body {
      
      padding: 0;
      background:  url('../img/callback-th.png') no-repeat;
      background-size: 100% 100%;
      background-position: center;
      @media only screen and (max-width: 749px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 73px;
      }
    }
    &__title {
      font-size: 30px;
      line-height: 53px;
      font-weight: 700;
      color: #fff;
      @media only screen and (max-width: 749px) {

      }
    }
    &__subtitle {
      font-size: 20px;
      line-height: 28px;
      color: #fff;
      @media only screen and (max-width: 749px) {

      }
    }
  }
  .home__person {
    position: absolute;
    top: 60%;
    left: 5%;
  }
  // .close {
  //   top: -9px;
  //   right: -36px;
  //   width: 34px;
  //   height: 34px;
  //   @media only screen and (max-width: 749px) {
  //     top: 10px;
  //     right: -6px;
  //   }
  // }
}
#policy {
  .modal__mainsubtitle {
  }

  .modal__wrap {
    text-align: left;
    max-width: 670px;
  }
  .modal {
    &__body {
      padding: 5%;
      background: #fff;
    }
    &__maintitle {
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 22px;
      color: $accent;
      font-weight: 700;
    }
    &__mainsubtitle {
      font-size: 18px;
      line-height: 22px;

      text-align: center;
      margin-bottom: 20px;
      margin-top: 40px;
    }
  }
}
.policy__body {
  padding-top: 50px;
}
.modal__part {
  width: 53%;
  padding: 52px 0 42px 110px;
  @media only screen and (max-width: 1350px) and (orientation: portrait),
  screen and (max-width: 1080px) {
    width: 100%;
  }
  @media screen and (max-width: 749px) {
    padding-top: 0;
    margin-top: -17px;
  }
}
.modal__img {
  position: relative;
  width: 47%;
  @media only screen and (max-width: 1350px) and (orientation: portrait),
  screen and (max-width: 1080px) {
    width: 100%;
    height: 495px;
  }
  @media screen and (max-width: 749px) {
    height: 318px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/present-bg.png') no-repeat;
    background-size: 782px;
    background-position: top 72px left -43px;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
      background-size: 497px;
      background-position: top 58px center;
    }
    @media screen and (max-width: 749px) {
      background-size: 323px;
      background-position: top 31px center;
    }
  }

  
}
.modalLeave {
  .modal__wrap {
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
      max-width: 630px;
    }
    
  }
  .modal__body {
    display: flex;
    padding: 0;
    background: url('../img/bg-leave.png') no-repeat;
    background-size: 107% 110%;
    background-position: center;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
      flex-wrap: wrap;
      background-image: url('../img/bg-leave-750.png');
      background-size: 100% 100%;
      padding: 5% 6% 5% 6%;
    }
    @media screen and (max-width: 749px) {
      background-image: url('../img/bg-leave-320.png');
      padding: 5% 4% 5% 4%;
    }
  }
  .modal__part {
    padding: 49px 47px 20px 6%;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
      padding: 49px 6% 20px 6%;
    }
    @media screen and (max-width: 749px) {
      padding: 23px 0% 20px 0%;
    }
  }


  .close {
    @media screen and (max-width: 749px) {
      top: 0;
    }
    
  }
  &__title {
    font-size: 26px;
    line-height: 37px;
    max-width: 513px;
    margin-bottom: 28px;
    letter-spacing: 0.5px;
    @media screen and (max-width: 749px) {
      font-size: 24px;
      line-height: 31px;
      padding-left: 0;
      margin-bottom: 14px;
    }
  }
  &__subtitle {
    color: #898989;
    font-size: 19px;
    line-height: 26px;
    margin-left: 5px;
    margin-bottom: 28px;
  }
  .form-line-btn {
    margin-top: 50px;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
      margin-top: 30px;
      margin-bottom: 45px;
    }
  }
  .btn {
    font-size: 19px;
    min-width: 340px;
  }
  .useful__label {
    padding: 20px 28px;
  }
  &__list {
    padding: 0 3% 0 3%;
    margin: 0 0 28px 0;
    list-style: none;
    @media screen and (max-width: 749px) {
      padding-left: 0;
    }
    li {
      padding: 10px 2% 10px 20px;
      position: relative;
      font-size: 22px;
      @media screen and (max-width: 749px) {
        font-size: 20px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 22px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #a1d154;

      }
    }
  }
}
.useful {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 749px) {
      justify-content: flex-start;
  }

  @media screen and (max-width: 480px){

  }
  &__item {
    flex-grow: 1;
  }
  .icon {
    margin-right: 10px;
    width: 20px;
  }
  
  &__input {
      display: none;
      &:checked {
          &+.useful__label {
              background: #fff;
              border-color: #6f75f1;
          }
      }
      
  }
  &__label {
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px solid #efefef;
      background: #f8f8f8;
      font-size: 14px;
      font-weight: 500;
      color: #949494;
      padding: 20px 30px;
      margin-right: 12px;
      margin-bottom: 18px;
      border-radius: 10px;
      @media screen and (max-width: 749px) {

      }
      &.red {
        border: 1px solid red;
      }
      &:hover {
        background: transparent;
        border-color: #6f75f1;
      }
      &--tg {
        padding: 20px 27px;
      }
      &--email {
        .icon {
          width: 15px;
        }
        padding: 20px 39px 20px 26px;
      }
  }
}
.form-line {
  display: flex;
  margin-bottom: 14px;
}
.modal__body-pic img {
  max-width: 100%;
}
#modalCallback {
  .modal__img {
    background-image: url('../img/callback-man.png');
  }
  .modal__body {
    display: flex;
    padding: 0;
    background: url('../img/callback-bg.png') no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
  }
  .modal__title {
    font-size: 30px;
    line-height: 53px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 17px;
  }
  .modal__subtitle {
    font-size: 20px;
    line-height: 1.2;
    color: #d0d0d0;
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    margin: 0 0 29px 0;
  }
  .home__person {
    margin-top: 154px;
    right: 17%;
    &:after {
      content: none;
    }
  }
  .form-line-btn {
    margin-top: 22px;
  }
  .btn {
    font-size: 19px;
    min-width: 340px;
  }
  .useful__label {
    padding: 20px 22px;
  }
}

.bonus {
  max-width: 150px;
  margin: 0 auto;
  background: $accent;
  padding: 10px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  img {
    margin-right: 10px;
  }
  span {
    color: #fff;
  }
}
.step-slide--thank {
  .bonus {
    margin-left: 0;
  }
}