section.home
    .wrap
        .home__body 
            .home__title.animated-parent
                .home__title-text.letters.text--medium Взыскание долгов
                .letters    с контрагента 
                .letters 
            .home__subtitle.animated 
                span.home__border в срок от
                    span.icon.icon--accent
                        svg(xmlns='http://www.w3.org/2000/svg', enable-background='new 0 0 512 512', viewBox='0 0 512 512')
                            g
                                path(d='m457 60h-36v-15c0-24.813-20.187-45-45-45s-45 20.187-45 45v15h-150v-15c0-24.813-20.187-45-45-45s-45 20.187-45 45v15h-36c-30.327 0-55 24.673-55 55v342c0 30.327 24.673 55 55 55h402c30.327 0 55-24.673 55-55v-342c0-30.327-24.673-55-55-55zm-96-15c0-8.271 6.729-15 15-15s15 6.729 15 15v60c0 8.271-6.729 15-15 15s-15-6.729-15-15zm-240 0c0-8.271 6.729-15 15-15s15 6.729 15 15v60c0 8.271-6.729 15-15 15s-15-6.729-15-15zm-91 70c0-13.785 11.215-25 25-25h36v15c0 24.813 20.187 45 45 45s45-20.187 45-45v-15h150v15c0 24.813 20.187 45 45 45s45-20.187 45-45v-15h36c13.785 0 25 11.215 25 25v67h-452zm452 342c0 13.785-11.215 25-25 25h-402c-13.785 0-25-11.215-25-25v-245h452z')
                                path(d='m306.764 272h23.473v165c0 8.284 6.716 15 15 15s15-6.716 15-15v-180c0-8.284-6.716-15-15-15h-38.473c-8.284 0-15 6.716-15 15s6.715 15 15 15z')
                                path(d='m211.764 422c-14.886 0-27.658-11.09-29.71-25.796-.192-1.378-.29-2.792-.29-4.204 0-8.284-6.716-15-15-15s-15 6.716-15 15c0 2.793.194 5.603.577 8.35 4.109 29.445 29.655 51.65 59.423 51.65 33.084 0 60-26.916 60-60 0-17.908-7.896-33.997-20.377-45 12.481-11.003 20.377-27.092 20.377-45 0-33.084-26.916-60-60-60-28.607 0-53.367 20.35-58.874 48.387-1.597 8.129 3.699 16.013 11.828 17.61 8.12 1.596 16.012-3.699 17.609-11.828 2.751-14.004 15.131-24.169 29.437-24.169 16.542 0 30 13.458 30 30s-13.458 30-30 30c-8.284 0-15 6.716-15 15s6.716 15 15 15c16.542 0 30 13.458 30 30s-13.458 30-30 30z')
                    span 20 дней 
            .home__subtitle.animated
                span по договорам 
            .home__group
                .home__item
                    .home__pic
                        img(src="img/doc.png", alt="doc")
                    .home__text
                        .home__line
                            span аренды, займа,
                        .home__line
                            span подряда, поставки,
                        .home__line
                            span предоставления услуг,
                        .home__line
                            span строительным спорам
                .home__person
                    .home__name 
                        span Евгений Иванов
                    .home__position 
                        span юрист-практик
            .home__btn
                a(href="#").btn Взыскать, нельзя простить!
                    svg.icon(xmlns='http://www.w3.org/2000/svg', enable-background='new 0 0 512 512', viewBox='0 0 512 512')
                        g
                            path(d='m240.99 436.75v60.25c0 8.284 6.716 15 15 15h241c8.284 0 15-6.716 15-15v-60.25c0-8.284-6.716-15-15-15h-241c-8.285 0-15 6.716-15 15zm30 15h211v30.25h-211z')
                            path(d='m13.206 451.638c8.797 8.797 20.353 13.196 31.908 13.196s23.111-4.398 31.908-13.196l181.108-181.108 21.39 21.39-10.695 10.695c-5.858 5.858-5.858 15.355 0 21.213l42.604 42.604c2.929 2.929 6.768 4.394 10.606 4.394s7.678-1.464 10.606-4.394l127.81-127.81c5.858-5.858 5.858-15.355 0-21.213l-42.604-42.604c-5.857-5.858-15.355-5.858-21.213 0l-10.695 10.695-106.596-106.596 10.695-10.695c2.813-2.813 4.394-6.628 4.394-10.606 0-3.979-1.581-7.793-4.394-10.606l-42.603-42.604c-5.858-5.858-15.356-5.857-21.213 0l-127.809 127.81c-5.858 5.858-5.858 15.355 0 21.213l42.603 42.603c2.812 2.813 6.628 4.394 10.606 4.394s7.794-1.581 10.606-4.394l10.695-10.695 21.391 21.391-181.108 181.107c-17.594 17.594-17.594 46.222 0 63.816zm245.013-394.035-106.597 106.596-21.39-21.39 106.596-106.596zm42.426 255.619 106.596-106.596 21.39 21.39-106.596 106.596zm.089-42.515-106.597-106.596 63.994-63.993 106.596 106.596zm-266.315 138.328 181.108-181.107 21.39 21.39-181.107 181.107c-5.898 5.896-15.492 5.896-21.391 0-5.897-5.897-5.897-15.493 0-21.39z')
            .home__person--mob
                .home__person-pic
                    img(src="img/man.png", alt="man")
                .home__person
                    .home__name 
                        span Евгений Иванов
                    .home__position 
                        span юрист-практик
            .home__scroll
                img(src="img/scroll-all.png", alt="scroll")

        .advantages
            .advantages__item
                img.img-750(src="img/money-750.png", alt="money")
                img(src="img/money.png", alt="money")
                div
                    .text--m Верните деньги своего предприятия 
                    .text в полном объеме + компенсацию за упущенную выгоду с помощью юриста- практикас опытом более 12 лет в изыскании долгов!
                    .text-750 Евгений Иванов, юрист-практик


