section.why
    .wrap
        .why__title
            span.why__title-pic
            span.text--m 7 причин доверить свои интересы 
            br.br-planshet
            span тому, 
            br.br-desctop
            span кто регулярно возвращает 
            br.br-planshet 
            span средства на счета 
            br.br-desctop
            span предприятий 
            br.br-planshet 
            span клиентов
        .why__pic-mob
            img(src="img/why-pic.png", alt="")
        .why__items 
            .why__item.why__item1
                .why__num 01
                .why__text 
                    span 324,5 млн. рублей вернули собственникам 
                    | за прошедший год
            .why__item.why__item0.why__item01
            .why__item.why__item0.why__item02
            .why__item.why__item0.why__item03
            .why__item.why__item2
                .why__num 02
                .why__text По банкротам выполним необходимые процессуальные действия для возврата средств
            .why__item.why__item3
                .why__num 03
                .why__text 100% соблюдаем профессиональную тайну и конфиденциальность
            .why__item.why__item4
                .why__num 04
                .why__text Работаем с контрагентами в досудебном, судебном и уголовном порядке, а также по исполнительному листу
            .why__item.why__item5
                .why__num 05
                .why__text Все процессы ведем без Вашего участия до фактического возврата долга
            .why__item.why__item6
                .why__num 06
                .why__text Взыщем долг с действующего юрлица, в том числе через процедуру банкротства
            .why__item.why__item7
                .why__num 07
                .why__text 12 лет опыта взыскания долгов с юридических лиц законными методами





