footer.footer
    .footer__top
        .wrap
            a(href="/").logo
                .logo__pic Юрист +
                .logo__text Взыскание долгов 
                    br.br-mobile 
                    | с юридических лиц 
                    br.br-desctop
                    | — помогаем 
                    br.br-mobile 
                    | Вашему бизнесу развиваться!
            .adress
                .adress__pic
                    img(src="img/clock.png", alt="clock")
                .adress__text 
                    span с 9:00 до 18:00
                    br
                    span Работаем с пн-пт
            .header__group
                a(href="tel:+74993501043 ").header__phone 8 (499) 350 10 43 
                a(href="#modalCallback").header__callback.modal-open Перезвоните мне 
    .footer__bottom
        .wrap
            .footer__left 
                div ООО "Юридические технологии" 
                div ОГРН 1117746442406 
            .rights 
                a(href="policy.html" target="_blank") Соглашение на обработку персональных данных. 
                span Все права защищены © 2020
            .dev
                .dev__text Разработано студией:
                a(href="https://azbuka.digital/" target="_blank").dev__img 
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', id='Слой_1', data-name='Слой 1', viewBox='0 0 113.87 55.39')
                        defs
                            style.
                                .cls-1,.cls-8{fill:none;stroke-miterlimit:10;}.cls-1{stroke:#a14944;stroke-width:0.01px;}.cls-2{fill:url(#Безымянный_градиент_80);}.cls-3{fill:url(#Безымянный_градиент_19);}.cls-4{fill:url(#Безымянный_градиент_80-2);}.cls-5{fill:url(#Безымянный_градиент_19-2);}.cls-6{fill:url(#Безымянный_градиент_80-3);}.cls-7{fill:url(#Безымянный_градиент_80-4);}.cls-8{stroke:#5b7bbb;stroke-width:0.25px;}
                            lineargradient(id='Безымянный_градиент_80', y1='27.73', x2='63.87', y2='27.73', gradientUnits='userSpaceOnUse')
                                stop(offset='0', stop-color='#0089fb')
                                stop(offset='0.13', stop-color='#0080fa')
                                stop(offset='0.28', stop-color='#007cf9')
                                stop(offset='0.67', stop-color='#3d71f4')
                                stop(offset='0.92', stop-color='#0057f4')
                                stop(offset='1', stop-color='#004ff3')
                            lineargradient(id='Безымянный_градиент_19', x1='59.56', y1='63.18', x2='-8.18', y2='19.19', gradientUnits='userSpaceOnUse')
                                stop(offset='0', stop-color='#fa9d3d')
                                stop(offset='0.09', stop-color='#f78a35')
                                stop(offset='0.18', stop-color='#f67f30')
                                stop(offset='0.28', stop-color='#f57b2e')
                                stop(offset='0.67', stop-color='#ce4d26')
                                stop(offset='0.92', stop-color='#b94723')
                            lineargradient(id='Безымянный_градиент_80-2', x1='108.18', y1='64.14', x2='72.3', y2='40.84', xlink:href='#Безымянный_градиент_80')
                            lineargradient(id='Безымянный_градиент_19-2', x1='83.59', y1='19.81', x2='17.33', y2='-23.22', xlink:href='#Безымянный_градиент_19')
                            lineargradient(id='Безымянный_градиент_80-3', x1='49.87', y1='27.73', x2='88.8', y2='27.73', xlink:href='#Безымянный_градиент_80')
                            lineargradient(id='Безымянный_градиент_80-4', y1='27.73', x2='38.93', y2='27.73', xlink:href='#Безымянный_градиент_80')
                        path.cls-1(d='M95.82,751.78', transform='translate(-85.05 -689.33)')
                        path.cls-1(d='M105,741.92', transform='translate(-85.05 -689.33)')
                        path.cls-1(d='M99.8,741.88', transform='translate(-85.05 -689.33)')
                        polygon.cls-2(points='56.96 43.42 38.93 12.19 31.94 0.08 31.9 0.14 31.87 0.08 24.91 12.25 0 55.39 13.99 55.39 14.04 55.39 20.89 43.44 31.9 24.36 37.43 33.94 37.43 33.94 43.72 44.48 24.93 44.48 18.73 55.39 49.82 55.39 63.8 55.39 63.87 55.39 56.96 43.42')
                        polygon.cls-3(points='64.93 55.32 64.93 55.32 57.78 43.15 43.92 43.15 25.63 43.13 18.5 55.38 50.02 55.38 64.93 55.32')
                        polygon.cls-4(points='108.87 55.39 113.87 55.38 106.8 43.13 88.79 43.13 70.82 43.13 63.74 55.39 94.88 55.39 108.87 55.39')
                        polygon.cls-5(points='88.8 12.19 88.8 12.19 81.81 0.08 68.78 0.02 50.54 0 43.35 12.25 74.87 12.25 88.8 12.19')
                        polygon.cls-6(points='63.86 55.39 63.77 55.39 88.8 12.19 81.81 0.08 81.78 0.14 81.74 0.08 74.75 12.19 49.88 55.39 63.86 55.39')
                        polygon.cls-7(points='13.99 55.39 13.9 55.39 38.93 12.19 31.94 0.08 31.9 0.14 31.87 0.08 24.87 12.19 0 55.39 13.99 55.39')
                        path.cls-8(d='M109.77,733.81', transform='translate(-85.05 -689.33)')

script(src="js/scripts.min.js")
script(src="js/common.js")
