section#quiz.quiz
    .wrap
        .quiz__maintitle 
            | Ответьте на 4 вопроса и 
            span.text--medium Вы получите 
            br.br-desktop
            | предварительный расчет стоимости 
            br.br-desktop
            | топосъемки + 
            span.text--medium гарантированный подарок
        .quiz__mainsubtitle Тест основан на 238 объектах, выполненных нашей командой 
            br.br-desktop
            br.br-mobile
            | в Москве и МО
        form(class="quizForm", name="quiz")
            // Hidden Required Fields
            input(type='hidden', name='project_name', value='РаГрад')
            input(type='hidden', name='admin_email', value='liaforweb@gmail.com, Azbuka.digital@ya.ru')
            input(type='hidden', name='form_subject', value='Квиз')
            // END Hidden Required Fields
            input(type='hidden', name='info', value='Квиз')
            input.utm_source.hidden(type='hidden', name='utm_source')
            input.utm_medium.hidden(type='hidden', name='utm_medium')
            input.utm_campaign.hidden(type='hidden', name='utm_campaign')
            input.utm_term.hidden(type='hidden', name='utm_term')
            input.utm_content.hidden(type='hidden', name='utm_content')
            .step-slide.step-slide--with-img.step-slide--active
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/foto.jpg", alt="Иван Лымар")
                                img(src="img/foto-mob.jpg", alt="Иван Лымар" class="quiz-sidebar__img--mob")
                            .quiz-sidebar__name Иван Лымар
                            .quiz-sidebar__position Генеральный директор
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p Цена за услугу формируется индивидуально и зависит от нескольких факторов. 
                                p
                                    span.text--medium Для начала выберите 
                                    br.br-desktop
                                    | категорию вашего участка, это поможет правильно рассчитать стоимость услуги
                            .quiz-sidebar__title.text--medium До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 7 вопросов
                    .quiz__body
                        .step-slide__title Какой участок для съемки?
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__title Готово: 
                                    span 0%
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:0%")
                        .quiz__ans.question__ans--radio
                            label.pick-item
                                .label-img
                                    img(src="img/q1-1.jpg", alt="quiz")
                                input.pick-item__input(type='radio', name='question1', value='Частный')
                                .pick-item__label Частный
                            label.pick-item
                                .label-img
                                    img(src="img/q1-2.jpg", alt="quiz")
                                input.pick-item__input(type='radio', name='question1', value='Городская застройка')
                                .pick-item__label Городская застройка
                            label.pick-item
                                .label-img
                                    img(src="img/q1-3.jpg", alt="quiz")
                                input.pick-item__input(type='radio', name='question1', value='Промышенный')
                                .pick-item__label Промышенный
                            label.pick-item
                                .label-img
                                    img(src="img/q1-4.jpg", alt="quiz")
                                input.pick-item__input(type='radio', name='question1', value='Поле/лес')
                                .pick-item__label Поле\лес
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Далее
                                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                            path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                            C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                            c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
            .step-slide
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/foto.jpg", alt="Иван Лымар")
                                img(src="img/foto-mob.jpg", alt="Иван Лымар" class="quiz-sidebar__img--mob")
                            .quiz-sidebar__name Иван Лымар
                            .quiz-sidebar__position Генеральный директор
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p 
                                    span.text--medium Второй важный фактор - 
                                    | площадь участка. Градация стоимости у нас: до 30 соток, от 30 до 60 соток, от 60 соток и выше. 
                                    span.text--medium Важно: 
                                    | если у Вас 1га и больше, то стоимость будет скорее всего как для участка до 30 соток. Иногда поле в га проще снять чем участок в 10 соток со всеми строениями и коммуникациями.
                            .quiz-sidebar__title.text--medium До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 6 вопросов
                    .quiz__body
                        .step-slide__title Какая площадь участка?
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__title Готово: 
                                    span 12.5%
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:12.5%")
                        .quiz__ans.question__ans--radio
                            label.pick-item
                                input.pick-item__input(type='radio', name='question2', value='До 15 соток')
                                .pick-item__label До 15 соток
                            label.pick-item
                                input.pick-item__input(type='radio', name='question2', value='От 30 до 60 соток')
                                .pick-item__label От 30 до 60 соток
                            label.pick-item
                                input.pick-item__input(type='radio', name='question2', value='До 15 до 30 соток')
                                .pick-item__label До 15 до 30 соток
                            label.pick-item
                                input.pick-item__input(type='radio', name='question2', value='От 60 до 1 га')
                                .pick-item__label От 60 до 1 га
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                a.btn.btn-prev.qa-prev(href='#') 
                                    span Назад
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Далее
                                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                            path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                            C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                            c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
            .step-slide.step-slide--with-img
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/foto.jpg", alt="Иван Лымар")
                                img(src="img/foto-mob.jpg", alt="Иван Лымар" class="quiz-sidebar__img--mob")
                            .quiz-sidebar__name Иван Лымар
                            .quiz-sidebar__position Генеральный директор
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p 
                                    span.text--medium Наши специалисты имеют в своем распоряжении 
                                    | необходимое оборудование и служебный транспорт. 
                                p 
                                    span.text--medium Мы выезжаем на объекты по 
                                    | всей территории Московской области 7 дней в неделю
                                    
                            .quiz-sidebar__title.text--medium До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 5 вопросов
                    .quiz__body
                        .step-slide__title Где располагается участок?
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__title Готово: 
                                    span 25%
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:25%")
                        .quiz__ans.question__ans--radio
                            label.pick-item
                                .label-img
                                    img(src="img/q3-1.jpg", alt="quiz")
                                input.pick-item__input(type='radio', name='question3', value='В пределах МКАД')
                                .pick-item__label В пределах МКАД
                            label.pick-item
                                .label-img
                                    img(src="img/q3-2.jpg", alt="quiz")
                                input.pick-item__input(type='radio', name='question3', value='В Новой Москве')
                                .pick-item__label В Новой Москве
                            label.pick-item
                                .label-img
                                    img(src="img/q3-3.jpg", alt="quiz")
                                input.pick-item__input(type='radio', name='question3', value='В Московской области')
                                .pick-item__label В Московской области
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                a.btn.btn-prev.qa-prev(href='#') 
                                    span Назад
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Далее
                                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                            path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                            C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                            c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
            .step-slide
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/foto.jpg", alt="Иван Лымар")
                                img(src="img/foto-mob.jpg", alt="Иван Лымар" class="quiz-sidebar__img--mob")
                            .quiz-sidebar__name Иван Лымар
                            .quiz-sidebar__position Генеральный директор
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p 
                                    span.text--medium Второй важный фактор - 
                                    | площадь участка. Градация стоимости у нас: до 30 соток, от 30 до 60 соток, от 60 соток и выше. 
                                    span.text--medium Важно: 
                                    | если у Вас 1га и больше, то стоимость будет скорее всего как для участка до 30 соток. Иногда поле в га проще снять чем участок в 10 соток со всеми строениями и коммуникациями.
                            .quiz-sidebar__title.text--medium До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 4 вопроса
                    .quiz__body.quiz__body4
                        .step-slide__title Геодезические изыскания необходимы для:
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__title Готово: 
                                    span 37.5%
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:37.5%")
                        .quiz__ans.question__ans--radio
                            label.pick-item
                                input.pick-item__input(type='radio', name='question4', value='Проектирования')
                                .pick-item__label Проектирования
                            label.pick-item
                                input.pick-item__input(type='radio', name='question4', value='Получения ГПЗУ')
                                .pick-item__label Получения ГПЗУ
                            label.pick-item
                                input.pick-item__input(type='radio', name='question4', value='Обновления  топосъемки')
                                .pick-item__label Обновления  топосъемки
                            label.pick-item
                                input.pick-item__input(type='radio', name='question4', value='Затрудняюсь ответитить. Нужна консультация')
                                .pick-item__label Затрудняюсь ответитить. <br> Нужна консультация
                            label.pick-item
                                input.pick-item__input(type='radio', name='question4', value='Получения разрешения на строительство')
                                .pick-item__label Получения разрешения <br>на строительство
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                a.btn.btn-prev.qa-prev(href='#') 
                                    span Назад
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Далее
                                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                            path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                            C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                            c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
            .step-slide
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/foto.jpg", alt="Иван Лымар")
                                img(src="img/foto-mob.jpg", alt="Иван Лымар" class="quiz-sidebar__img--mob")
                            .quiz-sidebar__name Иван Лымар
                            .quiz-sidebar__position Генеральный директор
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p Цена за услугу формируется индивидуально и зависит от нескольких факторов. 
                                    span.text--medium Второй важный фактор - 
                                    | площадь участка. Градация стоимости у нас: до 30 соток, от 30 до 60 соток, от 60 соток и выше. 
                                    span.text--medium Важно: 
                                    | если у Вас 1га и больше, то стоимость будет скорее всего как для участка до 30 соток. Иногда поле в га проще снять чем участок в 10 соток со всеми строениями и коммуникациями.
                            .quiz-sidebar__title.text--medium До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 3 вопроса
                    .quiz__body.quiz__body5
                        .step-slide__title Дополнительно требуются:
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__title Готово: 
                                    span 50%
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:50%")
                        .quiz__ans.question__ans--radio
                            label.pick-item
                                input.pick-item__input(type='radio', name='question5', value='Геологические изыскания')
                                .pick-item__label Геологические изыскания
                            label.pick-item
                                input.pick-item__input(type='radio', name='question5', value='Топосъемка под ландшафтный дизайн')
                                .pick-item__label Топосъемка под ландшафтный дизайн
                            label.pick-item
                                input.pick-item__input(type='radio', name='question5', value='Постановка на кадастровый учет дома или участка')
                                .pick-item__label Постановка на кадастровый учет дома или участка
                            label.pick-item
                                input.pick-item__input(type='radio', name='question5', value='Подеревная съемка')
                                .pick-item__label Подеревная съемка
                            label.pick-item
                                input.pick-item__input(type='radio', name='question5', value='Бурение скважин  на воду')
                                .pick-item__label Бурение скважин  на воду
                            label.pick-item
                                input.pick-item__input(type='radio', name='question5', value='Ничего из вышеперечисленого')
                                .pick-item__label Ничего из вышеперечисленого
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                a.btn.btn-prev.qa-prev(href='#') 
                                    span Назад
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Далее
                                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                            path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                            C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                            c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
            .step-slide
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/foto.jpg", alt="Иван Лымар")
                                img(src="img/foto-mob.jpg", alt="Иван Лымар" class="quiz-sidebar__img--mob")
                            .quiz-sidebar__name Иван Лымар
                            .quiz-sidebar__position Генеральный директор
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p 
                                    span.text--medium Второй важный фактор - 
                                    | площадь участка. Градация стоимости у нас: до 30 соток, от 30 до 60 соток, от 60 соток и выше. 
                                    span.text--medium Важно: 
                                    | если у Вас 1га и больше, то стоимость будет скорее всего как для участка до 30 соток. Иногда поле в га проще снять чем участок в 10 соток со всеми строениями и коммуникациями.
                            .quiz-sidebar__title.text--medium До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 2 вопроса
                    .quiz__body
                        .step-slide__title Куда отправить расчёт стоимости топосьемки
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__title Готово: 
                                    span 62.5%
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:62.5%")
                        .quiz__ans.question__ans--radio(style="display: block")
                            label.pick-item
                                input.pick-item__input(type='radio', name='question6', value='в WhatsApp')
                                .pick-item__label в WhatsApp
                            label.pick-item
                                input.pick-item__input(type='radio', name='question6', value='по СМС')
                                .pick-item__label по СМС
                            label.pick-item
                                input.pick-item__input(type='radio', name='question6', value='Бесплатная консултация по телефону (хочу узнать об акциях, которые сейчас приходят')
                                .pick-item__label.flex-column 
                                    span.text--medium Бесплатная консултация по телефону 
                                    | (хочу узнать об акциях, которые сейчас приходят
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                a.btn.btn-prev.qa-prev(href='#') 
                                    span Назад
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Далее
                                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;', xml:space='preserve')
                                            path(style='fill:#fff;', d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
                                            C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
                                            c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
            .step-slide.step-slide--text.step-slide--last
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/foto.jpg", alt="Иван Лымар")
                                img(src="img/foto-mob.jpg", alt="Иван Лымар" class="quiz-sidebar__img--mob")
                            .quiz-sidebar__name Иван Лымар
                            .quiz-sidebar__position Генеральный директор
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p 
                                    span.text--medium Второй важный фактор - 
                                    | площадь участка. Градация стоимости у нас: до 30 соток, от 30 до 60 соток, от 60 соток и выше. 
                                    span.text--medium Важно: 
                                    | если у Вас 1га и больше, то стоимость будет скорее всего как для участка до 30 соток. Иногда поле в га проще снять чем участок в 10 соток со всеми строениями и коммуникациями.
                            .quiz-sidebar__title.text--medium До выбора подарка остался: 
                            .quiz-sidebar__subtitle.text--medium 1 вопрос
                    .quiz__left
                        .quiz__body
                            .step-slide__title 
                                span.text--bold Укажите номер WhatsApp 
                                span на который отправить точную стоимость и сроки выполнения работ по Вашему участку
                            p Укажите WhatsApp и забронируйте скидку 1 000 рублей на услугу топосъемки * 
                            .form-line.quiz__ans.quiz__ans--text
                                label.pick-item.pick-item--text
                                    input(type="text" placeholder="Номер телефона" name="phone").rfield.phone-mask
                            .agree 
                                span.text--medium Нажимая на кнопку, 
                                | вы даете согласие на обработку персональных данных и соглашаетесь с 
                                a(href="policy.html" target="_blank").policy политикой конфиденциальности
                            .step-slide__bottom
                                .form-line-btn
                                    .quiz__error
                                    .btn.btn-finish.si-button-pulse
                                        .blick
                                            input(type="submit" value="Получить расчет").quiz__btn
            .step-slide.step-slide--thank
                .quiz__wrap
                    .quiz__thank
                        .step-slide__title Спасибо за доверие!
                        p 
                            span.text--medium Наш инженер приступил к расчету стоимости. 
                            br
                            | Если у него возникунут опросы, он вам перезвонит. Как только расчет будет готов, мы отправим его Вам.
                        p Можете ознакомиться с обещанными бонусами:
                        a.bonus(href="files/present.pdf" target="_blank")
                            img(src="img/icons/pdf-logo.png" alt="present")
                            span Скачать
                        .advantages__item.advantages__item--red 
                            span.text--bold Если с Вами оперативно не связались, 
                            | не волнуйтесь, назначенный Вам инженер может быть занят и свяжется с Вами как только освободится
                    .quiz__last-info
                        .advantages__item.advantages__item--last 
                            .advantages__text 
                                span.text--medium После выполнения 
                                | работ Вы получите все необходимые документы
