section.tarifs
    .wrap
        .tarifs__header
            .tarifs__logo
                a(href="/")
                    img(src="img/tarifs-logo.png", alt="tarifs")
                .tarifs__logo-text Что входит:
            .tarifs__column.tarifs__title.tarifs--desctop
                .tarifs__name.tarifs__name--pro Про
                .tarifs__text Для тех, кто хочет выжать максимум. Лендинг с полной настройкой рекламы, подходит под любую сферу деятельности. 
                .tarifs__term
                    span Сроки выполнения: 
                    | 14-21 день.
            .tarifs__column.tarifs__title.tarifs--desctop
                .tarifs__name.tarifs__name--biz Бизнес
                .tarifs__text Стандратный лендинг со всем нужным. Подходит под товарную нишуи сферу услуг.
                .tarifs__term
                    span Сроки выполнения: 
                    | 10-14 дней.
            .tarifs__column.tarifs__title
                .tarifs__name.tarifs__name--st старт
                .tarifs__text Небольшой лендинг в 3-4 экрана, подходит для события, теста идеи, вебинара. 
                .tarifs__term
                    span Сроки выполнения: 
                    | 7 дней.
        .tarifs__body.tarifs--desctop
            .tarifs__line
                .tarifs__list.tarifs__list--first
                    .tarifs__item 
                        a(href="#modalInfo1").tarifs__popup.modal-open i
                        | Разработка прототипа
                    ul
                        li Главная страница лендинга
                        li Всплывающие формы
                        li Страница благодарности
                        li Структура и контент для блоков
                        li Проработка призывов к действию
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st
                    .tarifs__check.tarifs__check--off
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo1").tarifs__popup.modal-open i
                        | Индивидуальный дизайн
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st
                    .tarifs__check.tarifs__check--on
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo2").tarifs__popup.modal-open i
                        | Верстка сайта
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                        .tarifs__more (Адаптивная)
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                        .tarifs__more (Адаптивная)
                .tarifs__column.tarifs--st
                    .tarifs__check.tarifs__check--on
                        .tarifs__more (без адаптива)
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo3").tarifs__popup.modal-open i
                        | Подключение форм
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st
                    .tarifs__check.tarifs__check--on
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo4").tarifs__popup.modal-open i
                        | Настройка Яндекс метрики
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st
                    .tarifs__check.tarifs__check--on
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo4").tarifs__popup.modal-open i
                        | Настройка Google Analytics
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st
                    .tarifs__check.tarifs__check--on
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo12").tarifs__popup.modal-open i
                        | Логотип в подарок
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st
                    .tarifs__check.tarifs__check--on
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo5").tarifs__popup.modal-open i
                        | SMS уведомления о заявках
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st
                    .tarifs__check.tarifs__check--on
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo6").tarifs__popup.modal-open i
                        | Админ-панель (CMS система)
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                        .tarifs__more (Расширенная)
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                        .tarifs__more (Стандартная)
                .tarifs__column.tarifs--st
                    .tarifs__check.tarifs__check--off
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo16").tarifs__popup.modal-open i
                        | Виджеты обратного звонка, онлайн чат
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo8").tarifs__popup.modal-open i
                        | Мультилендинг
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st.tarifs__price
                    .price 
                        span 40.000 
                        | руб.
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo9").tarifs__popup.modal-open i
                        | Геотаргетинг
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st.tarifs__price
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo13").tarifs__popup.modal-open i
                        | Анимация элементов сайта
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--st.tarifs__price
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo7").tarifs__popup.modal-open i
                        | Интеграция с CRM системой
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz.tarifs__price
                .tarifs__column.tarifs--st.tarifs__price
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo15").tarifs__popup.modal-open i
                        | Эквайринг (прием платежей на сайте)
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz.tarifs__price
                     .price 
                        span 55.000 
                        | руб.
                .tarifs__column.tarifs--st.tarifs__price
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo14").tarifs__popup.modal-open i
                        | IP телефония
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz.tarifs__price
                .tarifs__column.tarifs--st.tarifs__price
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo14").tarifs__popup.modal-open i
                        | Коллтрекинг
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz.tarifs__price
                .tarifs__column.tarifs--st.tarifs__price
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo10").tarifs__popup.modal-open i
                        | Сбор базы E-mail-адресов
                .tarifs__column.tarifs--pro
                    .tarifs__check.tarifs__check--on
                .tarifs__column.tarifs--biz.tarifs__price
                .tarifs__column.tarifs--st.tarifs__price
            .tarifs__line
                .tarifs__list
                    .tarifs__item 
                        a(href="#modalInfo15").tarifs__popup.modal-open i
                        span.list-title Настройка Яндекс.Директ и Google AdWords
                        svg.arrow-down
                            use(xlink:href="img/icons/arrow-down.svg#arrow-down")
                    .tarifs__list--last
                        ul
                            li 
                                span Главная страница 
                                | лендинга
                            li 
                                span Всплывающие
                                | формы
                            li 
                                span Страница 
                                | благодарности
                            li 
                                span Структура и контент 
                                | для блоков
                            li 
                                span Проработка призывов
                                | к действию
                            li 
                                span Сбор
                                | семантического ядра
                            li
                                span Разбиение кампаний 
                                | по "теплоте"  и тематике запросов
                            li
                                soan Группировка ключевых 
                                | запросов  с обходом статуса "Мало показов"
                            li
                                span Кампании Яндекс 
                                | Директ  и Google Adwords
                            li
                                span РСЯ (КМС) 
                                | и поиск отдельно
                        ul
                            li
                                span Создание Яндекс 
                                | Визитки  и Google Мой бизнес
                            li
                                span Информативная 
                                | UTM разметка
                            li
                                span Уточнения, 
                                | быстрые ссылки, отображаемая ссылка и другие расширения
                            li
                                span Проработанная 
                                | минусация слов и фраз
                            li
                                span Разметка целей 
                                | на сайте для Яндекс Метрики и Google Analytics
                            li
                                span Создание кампаний 
                                | ретаргетинга (ремаркетинга) по направлениям
                .tarifs__column.tarifs--pro.tarifs--last-pro
                    .tarifs__check.tarifs__check--on
                    .price 
                        span 75.000 
                        | руб.
                .tarifs__column.tarifs--biz.tarifs__price
                .tarifs__column.tarifs--st.tarifs__price
        .tarifs--mob
            .tarifs__body
                .tarifs__line
                    .tarifs__list.tarifs__list--first
                        .tarifs__item 
                            a(href="#modalInfo1").tarifs__popup.modal-open i
                            | Разработка прототипа
                        ul
                            li Главная страница лендинга
                            li Всплывающие формы
                            li Страница благодарности
                            li Структура и контент для блоков
                            li Проработка призывов к действию
                    .tarifs__column.tarifs--st
                        .tarifs__check.tarifs__check--off
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo1").tarifs__popup.modal-open i
                            | Индивидуальный дизайн
                    .tarifs__column.tarifs--st
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a.tarifs__popup(style="background: transparent;")
                            | Верстка сайта
                    .tarifs__column.tarifs--st
                        .tarifs__check.tarifs__check--on
                            .tarifs__more (без адаптива)
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo3").tarifs__popup.modal-open i
                            | Подключение форм
                    .tarifs__column.tarifs--st
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo4").tarifs__popup.modal-open i
                            | Настройка Яндекс метрики
                    .tarifs__column.tarifs--st
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo4").tarifs__popup.modal-open i
                            | Настройка Google Analytics
                    .tarifs__column.tarifs--st
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo12").tarifs__popup.modal-open i
                            | Логотип в подарок
                    .tarifs__column.tarifs--st
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo5").tarifs__popup.modal-open i
                            | SMS уведомления о заявках
                    .tarifs__column.tarifs--st
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__column.tarifs--st.tarifs__price
                        .price 
                            span 40.000 
                            | руб.
            .tarifs__header
                .tarifs__logo
                    a(href="/")
                        img(src="img/tarifs-logo.png", alt="tarifs")
                    .tarifs__logo-text Что входит:
                .tarifs__column.tarifs__title
                    .tarifs__name.tarifs__name--biz Бизнес
                    .tarifs__text Стандратный лендинг со всем нужным. Подходит под товарную нишуи сферу услуг.
                    .tarifs__term
                        span Сроки выполнения: 
                        | 10-14 дней.
            .tarifs__body
                .tarifs__line
                    .tarifs__list.tarifs__list--first
                        .tarifs__item 
                            a(href="#modalInfo1").tarifs__popup.modal-open i
                            | Разработка прототипа
                        ul
                            li Главная страница лендинга
                            li Всплывающие формы
                            li Страница благодарности
                            li Структура и контент для блоков
                            li Проработка призывов к действию
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo1").tarifs__popup.modal-open i
                            | Индивидуальный дизайн
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo2").tarifs__popup.modal-open i
                            | Верстка сайта
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                            .tarifs__more (Адаптивная)
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo3").tarifs__popup.modal-open i
                            | Подключение форм
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo4").tarifs__popup.modal-open i
                            | Настройка Яндекс метрики
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo4").tarifs__popup.modal-open i
                            | Настройка Google Analytics
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo12").tarifs__popup.modal-open i
                            | Логотип в подарок
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo5").tarifs__popup.modal-open i
                            | SMS уведомления о заявках
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list(style="padding-right: 70px")
                        .tarifs__item 
                            a(href="#modalInfo6").tarifs__popup.modal-open i
                            | Админ-панель (CMS система)
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                            .tarifs__more (Стандартная)
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo16").tarifs__popup.modal-open i
                            | Виджеты обратного звонка, онлайн чат
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo8").tarifs__popup.modal-open i
                            | Мультилендинг
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo9").tarifs__popup.modal-open i
                            | Геотаргетинг
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo13").tarifs__popup.modal-open i
                            | Анимация элементов сайта
                    .tarifs__column.tarifs--biz
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__column.tarifs--biz.tarifs__price
                        .price 
                            span 55.000 
                            | руб.
            .tarifs__header
                .tarifs__logo
                    a(href="/")
                        img(src="img/tarifs-logo.png", alt="tarifs")
                    .tarifs__logo-text Что входит:
                .tarifs__column.tarifs__title
                    .tarifs__name.tarifs__name--pro Про
                    .tarifs__text Для тех, кто хочет выжать максимум. Лендинг с полной настройкой рекламы, подходит под любую сферу деятельности. 
                    .tarifs__term
                        span Сроки выполнения: 
                        | 14-21 день.
            .tarifs__body
                .tarifs__line
                    .tarifs__list.tarifs__list--first
                        .tarifs__item 
                            a(href="#modalInfo1").tarifs__popup.modal-open i
                            | Разработка прототипа
                        ul
                            li Главная страница лендинга
                            li Всплывающие формы
                            li Страница благодарности
                            li Структура и контент для блоков
                            li Проработка призывов к действию
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo1").tarifs__popup.modal-open i
                            | Индивидуальный дизайн
                    .tarifs__column.tarifs--pro
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo2").tarifs__popup.modal-open i
                            | Верстка сайта
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                            .tarifs__more (Адаптивная)
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo3").tarifs__popup.modal-open i
                            | Подключение форм
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo4").tarifs__popup.modal-open i
                            | Настройка Яндекс метрики
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo4").tarifs__popup.modal-open i
                            | Настройка Google Analytics
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo12").tarifs__popup.modal-open i
                            | Логотип в подарок
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo5").tarifs__popup.modal-open i
                            | SMS уведомления о заявках
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list(style="padding-right: 70px")
                        .tarifs__item 
                            a(href="#modalInfo6").tarifs__popup.modal-open i
                            | Админ-панель (CMS система)
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                            .tarifs__more (Расширенная)
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo16").tarifs__popup.modal-open i
                            | Виджеты обратного звонка, онлайн чат
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo8").tarifs__popup.modal-open i
                            | Мультилендинг
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo9").tarifs__popup.modal-open i
                            | Геотаргетинг
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo13").tarifs__popup.modal-open i
                            | Анимация элементов сайта
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo7").tarifs__popup.modal-open i
                            | Интеграция с CRM системой
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo11").tarifs__popup.modal-open i
                            | Эквайринг (прием платежей на сайте)
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo14").tarifs__popup.modal-open i
                            | IP телефония
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo14").tarifs__popup.modal-open i
                            | Коллтрекинг
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item 
                            a(href="#modalInfo10").tarifs__popup.modal-open i
                            | Сбор базы E-mail-адресов
                    .tarifs__column.tarifs--pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__list
                        .tarifs__item
                            a(href="#modalInfo15").tarifs__popup.modal-open i
                            span.list-title Настройка Яндекс.Директ и Google AdWords
                            svg.arrow-down
                                use(xlink:href="img/icons/arrow-down.svg#arrow-down")
                        .tarifs__list--last
                            ul
                                li 
                                    span Главная страница 
                                    | лендинга
                                li 
                                    span Всплывающие
                                    | формы
                                li 
                                    span Страница 
                                    | благодарности
                                li 
                                    span Структура и контент 
                                    | для блоков
                                li 
                                    span Проработка призывов
                                    | к действию
                                li 
                                    span Сбор
                                    | семантического ядра
                                li
                                    span Разбиение кампаний 
                                    | по "теплоте"  и тематике запросов
                                li
                                    soan Группировка ключевых 
                                    | запросов  с обходом статуса "Мало показов"
                                li
                                    span Кампании Яндекс 
                                    | Директ  и Google Adwords
                                li
                                    span РСЯ (КМС) 
                                    | и поиск отдельно
                            ul
                                li
                                    span Создание Яндекс 
                                    | Визитки  и Google Мой бизнес
                                li
                                    span Информативная 
                                    | UTM разметка
                                li
                                    span Уточнения, 
                                    | быстрые ссылки, отображаемая ссылка и другие расширения
                                li
                                    span Проработанная 
                                    | минусация слов и фраз
                                li
                                    span Разметка целей 
                                    | на сайте для Яндекс Метрики и Google Analytics
                                li
                                    span Создание кампаний 
                                    | ретаргетинга (ремаркетинга) по направлениям
                    .tarifs__column.tarifs--pro.tarifs--last-pro
                        .tarifs__check.tarifs__check--on
                .tarifs__line
                    .tarifs__column.tarifs--biz.tarifs__price
                        .price 
                            span 75.000 
                            | руб.
        .tarifs__info
            .tarifs__info-item 
                .tarifs__info-logo.tarifs__info-logo--int
                    svg.icon
                        use(xlink:href="img/icons/internet.svg#internet")
                a(href="https://azbuka.digital/") Azbuka.digital
            .tarifs__info-item 
                .tarifs__info-logo.tarifs__info-logo--int
                    svg.icon
                        use(xlink:href="img/icons/email.svg#email")
                a(href="mailto:info@azbuka.digital") info@azbuka.digital
            .tarifs__info-item 
                .tarifs__info-logo.tarifs__info-logo--whatsapp
                    svg.icon
                        use(xlink:href="img/icons/whatsapp.svg#whatsapp")
                a(href="whatsapp://send/?phone=+79524466789") 8-952-44-66-789
            .tarifs__info-item 
                .tarifs__info-logo.tarifs__info-logo--viber2
                    svg.icon
                        use(xlink:href="img/icons/viber2.svg#viber2")
                a(href="viber://add?number=79524466789") 8-952-44-66-789
            .tarifs__info-item 
                .tarifs__info-logo.tarifs__info-logo--telegram2
                    svg.icon
                        use(xlink:href="img/icons/telegram2.svg#telegram2")
                a(href="tg://resolve?domain=azbukadigital") t.me/Azbuka.digital
            .tarifs__info-item 
                .tarifs__info-logo.tarifs__info-logo--vk
                    svg.icon
                        use(xlink:href="img/icons/vk.svg#vk")
                a(href="#") Azbuka.digital

